:root {
  --EmotesNumber: 0;
  --EmotesSteps: 1;
}

.emotes_cat {
  background-image: url('Assets/Sprout Lands - Sprites - Basic pack/UI/Sprite sheets/Dialouge UI/Emotes/Teemo Basic emote animations sprite sheet.png');
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  transform: scale(1.5);
  background-position: 0 calc(var(--EmotesNumber)*-32px);
  animation: playEmote 1s steps(var(--EmotesSteps)) infinite;
}

@keyframes playEmote {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: calc(var(--EmotesSteps)*-32px);
    /* 8 frames * 32px = 256px */
  }
}

.current-player {
  position: absolute;
  z-index: 10;
  background-image: url('Assets/Sprout Lands - Sprites - Basic pack/Characters/Basic Charakter Spritesheet.png');
  background-repeat: no-repeat;
  background-size: var(--sprite-sheet-width) auto;
  image-rendering: pixelated;
}

@keyframes animaplayer {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: calc(-1 * var(--sprite-sheet-width));
  }
}

.current-player.right {
  background-position: 0 calc(-3 * var(--sprite-height));
  animation: animaplayer 0.5s steps(4) infinite;
}

.current-player.left {
  background-position: 0 calc(-2 * var(--sprite-height));
  animation: animaplayer 0.5s steps(4) infinite;
}

.current-player.top {
  background-position: 0 calc(-1 * var(--sprite-height));
  animation: animaplayer 0.5s steps(4) infinite;
}

.current-player.down {
  background-position: 0 0;
  animation: animaplayer 0.5s steps(4) infinite;
}

.current-player.idle-right {
  background-position: 0 calc(-3 * var(--sprite-height));
  animation: animaplayer 2s steps(2) infinite;
}

.current-player.idle-left {
  background-position: 0 calc(-2 * var(--sprite-height));
  animation: animaplayer 2s steps(2) infinite;
}

.current-player.idle-top {
  background-position: 0 calc(-1 * var(--sprite-height));
  animation: animaplayer 2s steps(2) infinite;
}

.current-player.idle-down {
  background-position: 0 0;
  animation: animaplayer 2s steps(2) infinite;
}

/* Default idle state */
.current-player.idle {
  background-position: 0 0;
  animation: none;
}